<nav class="navbar">
  <a href="/"><h1>My Recipes</h1></a> <!-- Updated title to "My Recipes" -->
  <div class="links">
    <a href="/addrecipe">New Recipe</a> <!-- Updated link to add a new recipe -->
    <a class="new-item-link" href="/user/logout">Logout</a> <!-- Assuming this link is for user logout -->
  </div>
</nav>  